/************************************************************************
 * Global styles */

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    cursor: default;
}

#content {
    border: 1px solid #DDD;
    border-radius: 3px;
}

#app {
    max-width: 1000px;
    margin: 0 auto;
}

.muted {
    color: #AAA;
}

/************************************************************************
 * Pikaday */

.pika-single {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/************************************************************************
 * Links */

a,
a:visited {
    border-bottom: 1px dotted;
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    border-bottom: 1px solid;
    outline: none;
}

/************************************************************************
 * Priorities */

.priority-chip {
    border-radius: 3px;
    padding: 0 5px;
    background-color: #DDD;
    color: #000;
    border: 1px solid #CCC;
    line-height: 1.42857143;
}

.priority-chip.A {
    background-color: #F29B9B;
    color: #FFF;
    border-color: #c56a6a;
}

.priority-chip.B {
    background-color: #FEDE82;
    color: #000;
    border-color: #dbb71f;
}

.priority-chip.C {
    background-color: #F9FC87;
    color: #000;
    border-color: #dedc13;
}

.priority-chip.D {
    background-color: #CFFFCF;
    color: #000;
    border-color: #56f252;
}

.priority-chip.E {
    background-color: #6072FB;
    color: #FFF;
    border-color: #1d46d5;
}

/************************************************************************
 * Buttons */

#app button {
    border-radius: 3px;
    cursor: pointer;
    background-color: #DDD;
    border: 1px solid #BBB;
    outline: none;
    padding: 5px;
    color: #000;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFF;
    font-size: 16px;
}

#app button:hover,
#app button:focus {
    background-color: #EEE;
    outline: none;
}

#app button:disabled {
    background-color: #EEE;
    border-color: #CCC;
    color: #BBB;
}

#app button.small {
    padding: 2px;
}

/************************************************************************
 * Inputs */

#app input,
#app select,
#app textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    background-color: #FFF;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 3px;
}

#app input:focus,
#app select:focus,
#app textarea:focus {
    border-color: #BBB;
    outline: none;
}

#app input[type="checkbox"],
#app input[type="radio"] {
    margin: 0;
}

#app .datepicker {
    cursor: default;
}

/************************************************************************
 * Header */

#app header {
    margin-top: 10px;
    margin-bottom: 10px;
}

#app header .title {
    font-size: 24px;
}

#app header .title a {
    text-decoration: none;
    color: inherit;
    border: none;
}

#app header .menu {
    vertical-align: middle;
    text-align: right;
}

/************************************************************************
 * Footer */

#app footer {
    text-align: center;
    font-size: 12px;
    margin: 10px;
}

#app footer a,
#app footer a:visited {
    color: inherit;
}

/************************************************************************
 * Rows */

#app .row {
    display: table;
    width: 100%;
}

#app .row > div {
    display: table-cell;
    vertical-align: top;
}

/************************************************************************
 * Filters column */

#filters {
    width: 25%;
    border-right: 1px solid #DDD;
    background-color: #EEE;
}

#filters > div {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #DDD;
    padding: 10px;
}

#filters > div:first-child {
    border-top-left-radius: 3px;
}

#filters > div:last-child {
    border-bottom: none;
}

#filters > div h2 {
    margin: 0;
    padding: 0 0 5px;
    font-size: 18px;
    text-shadow: 1px 1px 0 #FFF;
}

#filters > div h2 > button {
    float: right;
}

#filters > div > div {
    margin-top: 5px;
}

#filters input[type="text"],
#filters input[type="date"] {
    width: 100%;
}

#filters .lists label {
    width: 100%;
    display: block;
}

#filters .bottom {
    text-align: center;
}

/************************************************************************
 * Todos list column */

#todos {
    width: 75%;
    padding: 10px;
}

#todos > .muted {
    text-align: center;
    margin-top: 15px;
}

#todos > .todo {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
}

#todos > .todo a {
    color: inherit;
    text-decoration: none;
    border: none;
}

#todos > .todo:last-child {
    margin-bottom: 0;
}

#todos > .todo > .actions {
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    padding: 3px;
    background-color: #EEE;
    display: none;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#todos > .todo .actions .apply,
#todos > .todo.editing .actions .edit {
    display: none;
}

#todos > .todo.editing .actions .apply {
    display: inline;
}

#todos > .todo:hover > .actions {
    display: inline;
}

#todos > .todo > .container {
    background-color: #EEE;
    border-top: 1px solid #FFF;
    border-radius: 3px;
    width: 100%;
}

#todos > .todo:hover > .container {
    background-color: #F3F3F3;
}

#todos > .todo .container > div {
    padding: 5px;
}

#todos > .todo .container.show > div.priority {
    width: 35px;
}

#todos > .todo .container.show > div.completed-checkbox,
#todos > .todo .container.show > div.priority {
    vertical-align: middle;
}

#todos > .todo .container.show > div.completed-checkbox {
    width: 25px;
}

#todos > .todo.completed .container.show div.text  {
    text-decoration: line-through;
}

#todos > .todo .container.show div.metadata {
    color: #AAA;
    font-size: 14px;
    border: none;
}

#todos > .todo.editing .container.show {
    display: none;
}

#todos > .todo.editing input[type="text"] {
    width: 100%;
}

#todos > .todo .container.edit {
    display: none;
}

#todos > .todo.editing .container.edit {
    display: block;
}

#todos > .todo .container.edit .due-date {
    vertical-align: middle;
    text-align: left;
}

#todos > .todo .container.edit .list {
    padding: 0 5px;
}

#todos > .todo .container.edit .list:first-child {
    padding-left: 0;
}

#todos > .todo .container.edit .list:last-child {
    padding-right: 0;
}

#todos > .todo .container.edit .list > h3 {
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;
    text-shadow: 1px 1px 0 #FFF;
}

#todos > .todo .container.edit .list > h3 > button {
    float: right;
}

#todos > .todo .container.edit .list label {
    width: 100%;
    display: block;
}

#todos > .todo .container.edit .list.priority {
    width: 110px;
}

#todos > .todo .container.edit .list > div {
    border: 1px solid #DDD;
    overflow-y: scroll;
    border-radius: 3px;
    padding: 5px;
    clear: both;
    background-color: #FFF;
}

#todos > .todo .container.edit .list.priority > div {
    height: 145px;
}

#todos > .todo .container.edit .list.priority > div > div {
    margin-top: 5px;
}

#todos > .todo .container.edit .list.priority > div > div:first-child {
    margin-top: 0;
}

#todos > .todo .container.edit .list.projects > div,
#todos > .todo .container.edit .list.contexts > div {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 115px;
}

#todos > .todo .container.edit .list.projects > input,
#todos > .todo .container.edit .list.contexts > input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}