<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow,noarchive"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <title>📋 Web Todo.txt</title>
</head>
<body>
<div id="app">
    <header>
        <div class="title"><a href="{{ request.url_root }}">📋 Web Todo.txt</a>
            <small>0.1</small>
            <small v-show="loading">Loading...</small>
        </div>
        <div class="menu">
            <button>➕ Add</button>
            <button @click="loadTodoTxt()" :disabled="loading">🔄 Reload</button>
            <button @click="saveTodoTxt()" :disabled="loading">💾 Save</button>
        </div>
    </header>
    <div id="page">
        <div id="filters">
            <div>
                <h2>General filters</h2>
                <div>Completed: <input type="radio"> All <input type="radio"> Yes <input type="radio"> No</div>
                <div><input type="text" id="filter-text" placeholder="Text"></div>
                <div><input type="date" id="filter-completion-date" placeholder="Completion date"></div>
                <div><input type="date" id="filter-creation-date" placeholder="Creation date"></div>
            </div>
            <div id="filter-priorities">
                <h2>Priorities</h2>
                <div><input type="checkbox"> <span class="priority-chip A">A</span></div>
            </div>
            <div id="filter-projects">
                <h2>Projects</h2>
                <div><input type="checkbox"> machine</div>
            </div>
            <div id="filter-contexts">
                <h2>Contexts</h2>
                <div><input type="checkbox"> truc</div>
            </div>
            <div>
                <button>✖ Clear all</button>
            </div>
        </div>
        <div id="todos">
            <div class="no-todos" v-show="todos.length == 0 && !loading">No todo to display.</div>
            <div v-for="todo in todos">
                <div class="col completed-checkbox">
                    <input type="checkbox" v-model="todo.completed">
                </div>
                <div class="col priority" v-show="todo.priority"><span :class="['priority-chip', todo.priority]">${ todo.priority }</span></div>
                <div class="col content">
                    <div :class="['row', 'text', todo.completed ? 'completed' : '']">${ todo.text }</div>
                    <div class="row infos">
                        <div class="metadata">
                            <template v-for="project in todo.projects">+${ project } </template>
                            <template v-for="context in todo.contexts">@${ context } </template>
                            <template v-if="todo.creation_date">Created ${ todo.creation_date }</template>
                            <template v-if="todo.completion_date">Completed ${ todo.completion_date }</template>
                        </div>
                        <div class="actions"><a href="">✏</a> <a href="" @click.prevent="removeTodo(todo)">✖</a>️</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>© 2016 <a href="https://epoc.fr">Maxime "Epoc" G.</a> • <a href="https://github.com/EpocDotFr/webtodotxt">Source code on GitHub</a> • Licensed under the <a href="https://github.com/EpocDotFr/webtodotxt/blob/master/LICENSE.md">DBAD Public License</a></footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
<script src="https://unpkg.com/vue@2.1.0/dist/vue.min.js"></script>
<script>
ROOT_URL = '{{ request.url_root }}';
</script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>