<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow,noarchive"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <title>Web Todo.txt</title>
</head>
<body>
<div id="app">
    <header>
        <div class="title"><a href="{{ request.url_root }}"><i class="fa fa-sticky-note"></i> Web Todo.txt</a>
            <small v-show="loading"><i class="fa fa-spinner"></i> Loading...</small>
        </div>
        <div class="menu">
            <button @click="addTodo()" :disabled="loading"><i class="fa fa-plus"></i> Add</button>
            <button @click="loadTodoTxt()" :disabled="loading"><i class="fa fa-refresh"></i> Reload</button>
            <button @click="saveTodoTxt()" :disabled="loading"><i class="fa fa-floppy-o"></i> Save</button>
        </div>
    </header>
    <div id="page">
        <div id="filters">
            <div>
                <h2>General filters</h2>
                <div>Completed: <input type="radio"> All <input type="radio"> Yes <input type="radio"> No</div>
                <div><input type="text" id="filter-text" placeholder="Text"></div>
                <div><input type="date" id="filter-completion-date" placeholder="Completion date"></div>
                <div><input type="date" id="filter-creation-date" placeholder="Creation date"></div>
            </div>
            <div id="filter-priorities">
                <h2>Priorities</h2>
                <div><input type="checkbox"> <span class="priority-chip A">A</span></div>
            </div>
            <div id="filter-projects">
                <h2>Projects</h2>
                <div><input type="checkbox"> machine</div>
            </div>
            <div id="filter-contexts">
                <h2>Contexts</h2>
                <div><input type="checkbox"> truc</div>
            </div>
            <div>
                <button><i class="fa fa-eraser"></i> Clear all</button>
            </div>
        </div>
        <div id="todos">
            <div class="no-todos" v-show="todos.length == 0 && !loading">No todo to display.</div>
            <div v-for="todo in todos" :class="['todo', todo.completed ? 'completed' : '', todoBeingEdited == todo ? 'editing' : '']">
                <div class="actions">
                    <a href="#"><i class="fa fa-pencil"></i></a> <a href="#" @click.prevent="removeTodo(todo)"><i class="fa fa-trash"></i></a>
                </div>
                <div class="container">
                    <div class="col completed-checkbox">
                        <input type="checkbox" v-model="todo.completed">
                    </div>
                    <div class="col priority" v-show="todo.priority"><span :class="['priority-chip', todo.priority]">${ todo.priority }</span></div>
                    <div class="col content">
                        <div class="row text" @dblclick="editTodo(todo)">${ todo.text }</div>
                        <div class="row text-editing"><input type="text" v-model="todo.text" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)" placeholder="Type some text here"></div>
                        <div class="row metadata">
                            <template v-for="project in todo.projects">+${ project } </template>
                            <template v-for="context in todo.contexts">@${ context } </template>
                            <template v-if="todo.creation_date">Created ${ todo.creation_date }</template>
                            <template v-if="todo.completion_date">Completed ${ todo.completion_date }</template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>© 2016 <a href="https://epoc.fr">Maxime "Epoc" G.</a> • <a href="https://github.com/EpocDotFr/webtodotxt">Source code on GitHub</a> • Licensed under the <a href="https://github.com/EpocDotFr/webtodotxt/blob/master/LICENSE.md">DBAD Public License</a></footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
<script src="https://unpkg.com/vue@2.1.0/dist/vue.min.js"></script>
<script>
ROOT_URL = '{{ request.url_root }}';
</script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>